body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #283136;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  font-weight: 500;
  line-height: 1.88;
  text-transform: uppercase;
  color: #000000;
  background-color: #eeeeee;
}

.main-navigation {
  display: flex;
  align-items: flex-end;
  width: 1160px;
  padding: 20px;
  padding-top: 50px;
  margin: 0 auto;
  outline: 2px solid blue;
}

.main-navigation .menu {
  margin-right: 280px;
  margin-left: 200px;
}

.menu {
  display: flex;
  flex-basis: 440px;
  align-items: center;
  justify-content: space-between;
}


.main-header a {
  color: #000000;
}

.main-header a:hover {
  color: #fb565a;
}

.main-header a:active {
  color: #a6a6a6;
}

.reset-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.slider {
  background-color: #eeeeee;
}

.slider-box {
  display: flex;
  flex-direction: column;
  width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
  outline: 2px solid blue;
}

.slider-box li {
  flex-basis: 413px;
}


.slider-title {
  font-size: 55px;
  font-weight: 500;
  line-height: 1;
  color: #000000;
}

.slider-button {
  font-weight: 500;
  line-height: 1.13;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fb565a;
}

.slider-button:hover {
  background-color: #e74246;
}

.slider-button:active {
  background-color: #d7373b;
  color: #e06366;
}

.slider-page-1 {
  background: url("../img/slide1.png") no-repeat right;
}


.slider-page-2 {
  background: url("../img/slide2.png") no-repeat right;

}

.slider-page-3 {
  background: url("../img/slide3.png") no-repeat right;
}

.services-list {
  display: flex;
  padding: 82px 20px;
  width: 1160px;
  margin: 0 auto;
  outline: 2px solid blue;
}

.services-item {
  flex-basis: 300px;
  margin-right: 100px;
}

.services-item:last-child {
  margin-right: 60px;
}

.services-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;
  color: #000000;
  text-transform: uppercase;
}

.services-button {
  font-weight: 500;
  line-height: 1.13;
  text-transform: uppercase;
  color: #ffffff;
}

.services-item:first-child a {
  background-color: #fb565a;
}

.services-item:first-child a:hover {
  background-color: #e74246;
}

.services-item:first-child a:active {
  color: #e06366;
  background-color: #d7373b;
}

.services-item:nth-child(2) a {
  background-color: #00ca74;
}

.services-item:nth-child(2) a:hover {
  background-color: #00bc6c;
}

.services-item:nth-child(2) a:active {
  color: #48c28e;
  background-color: #00aa62;
}

.services-item:last-child a {
  background-color: #efc84a;
}

.services-item:last-child a:hover {
  background-color: #eab534;
}

.services-item:last-child a:active {
  color: #edc265;
  background-color: #e5a722;
}

.services li:first-child {
  background: url("../img/service-item-1.png") no-repeat top;
}

.services li:nth-child(2) {
  background: url("../img/service-item-2.png") no-repeat top;
}

.services li:last-child {
  background: url("../img/service-item-3.png") no-repeat top;
}

.information {
  display: flex;
  padding: 75px 20px;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
  outline: 2px solid blue;
}

.information-about {
  flex-basis: 660px;
}

.information-tagline {
  font-size: 45px;
  font-weight: 500;
  line-height: 1;
  color: #000000;
}

.information-services {
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
}

.information-features {
  flex-basis: 360px;
  background: url("../img/nerds-illustration.png") no-repeat top;
}

.features-title {
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
}

.features-percent {
  font-size: 45px;
  font-weight: 700;
  line-height: 0.23;
}

.partners-list {
  display: flex;
  padding: 45px 20px;
  justify-content: space-around;
  width: 1160px;
  margin: 0 auto;
  outline: 2px solid blue;
}

.contacts-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.67;
  text-transform: uppercase;
  color: #000000;
}

.contacts-adress a{
  color: #283136;
}

.contacts-button {
  font-weight: 500;
  line-height: 1.13;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fb565a;
}

.footer-socialmedia {
  display: flex;
  padding: 70px 20px;
  align-items: center;
  width: 1160px;
  margin: 0 auto;
  outline: 2px solid blue;
}

.socialmedia-wrapper {
  display: flex;
  flex-basis: 270px;
  justify-content: space-between;
  margin-right: 130px;
}

.footer-socialmedia p:first-of-type {
  font-size: 36px;
  font-weight: 700;
  list-style: 36px;
  color: #000000;
}

.footer-socialmedia p:last-of-type {
  font-size: 16px;
  list-style: 22px;
}

.contacts p {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.13;
  color: #000000;
}

.contacts .write-us {
  font-size: 45px;
  font-weight: 500;
  line-height: 1;
  color: #000000;
}

.contacts button  {
  font-weight: 500;
  line-height: 1.13;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fb565a;
}

.contacts input:hover{
  border-color: #b4b9bb;
}

.contacts input:focus {
  border-color: #000000;
  color: #000000;
}

/*.contacts input:invalid {
}*/

.catalog {
  font-size: 55px;
  font-weight: 500;
  line-height: 1;
  background-color: #eeeeee;
  text-align: center;
  margin: 0;
  padding: 70px 0 110px;
}

.catalog-container {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  padding: 60px 20px;
  margin: 0 auto;
  outline: 2px solid blue;
}

.filter {
  width: 260px;
  margin-top: 0;
}

.catalog-list-wrapper {
  display: flex;
  width: 760px;
  flex-direction: column;
  padding: 10px 0;
  outline: 2px solid blue;
}

.sort {
  display:  flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.sort-list {
  display: flex;
  justify-content: space-between;
}

.catalog-list-container {
 display: flex;
 flex-wrap: wrap;
}

.pages-list {
  display: flex;
  align-items: center;
}

.pages-button {
  margin: 25px 10px 25px 0;
  padding:  16px 20px;
}

.pages-button:last-child {
  padding:  15px 80px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.filter-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.67;
  color: #000000;
  text-transform: uppercase;
}

.output-field {
  background-color: #eeeeee;
}

.range {
  font-size: 16px;
  line-height: 1.38;
  color: #283136;
  text-transform: uppercase;
}

.filter-item {
  font-size: 16px;
  line-height: 1.25;
  color: #283136;
}

.check-button:hover,
.radio-button:hover,
.check-name:hover,
.radio-name:hover {
  color: #000000;
}

.check-button:disabled,
.radio-button:disabled,
.check-name:disabled,
.radio-name:disabled  {
  color: #ededed;
}

.filter-button,
.pages-button {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;
  color: #000000;
  text-transform: uppercase;
  background-color: #eeeeee;
}

.filter-button button:hover,
.pages-button a:hover {
  background-color: #dfdfdf;
}

.filter-button button:active,
.pages-button a:active {
  color: #959595;
  background-color: #d5d5d5;
  border-top: solid #bfbfbf 2px;
}

.pages-button.current {
  background-color: #ffffff;
  outline: solid 3px #dbdbdb;
  outline-offset: -3px;
}

.sort p {
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
}

.sort-button a {
  font-size: 14px;
  line-height: 1.29;
  color: #b2b2b2;
  text-transform: uppercase;
}

.sort-button a:hover {
  color: #666666;
}

.sort-button a:active {
  color: #000000;
}

.pages a {
  color: #000000;
}

.item-title a{
  font-size: 18px;
  font-weight: 700;
  line-height: 1.67;
  color: #000000;
  text-transform: uppercase;
}

.catalog-item {
  font-size: 16px;
  line-height: 1.13;
  color: #666666;
  width: 360px;
  margin-right: 40px;
  margin-bottom: 35px;
}


.catalog-price {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #fb565a;
}

.catalog-price:hover {
  background-color: #e74246;
}

.catalog-price:active {
  background-color: #d7373b;
}
