body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #283136;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  min-width: 1200px;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  font-weight: 500;
  line-height: 1.88;
  text-transform: uppercase;
  color: #000000;
  background-color: #eeeeee;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}


.main-navigation {
  display: flex;
  padding-top: 50px;
}

.logo-link {
  width: 160px;
  height: 65px;
}

.main-navigation .menu {
  margin-right: 264px;
  margin-left: 200px;
  padding-top: 17px;
}

.menu {
  display: flex;
  flex-basis: 440px;
  align-items: center;
}

.menu-item {
  margin-right: 47px;
}

.menu-item:last-child {
  margin-right: 0;
}

.menu-item.current {
  border-bottom: 2px solid #fb565a;
}

.cart {
  padding-top: 24px;
  padding-left: 20px;
  position: relative;
}

.cart::before {
  content: "";
  position: absolute;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  left: -20px;
  top: 31px;
}

.main-header a {
  color: #000000;
}

.main-header a:hover {
  color: #fb565a;
}

.main-header a:active {
  color: #a6a6a6;
}

.reset-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.slider {
  background-color: #eeeeee;
  position: relative;
}

.slider-control {
  position: absolute;
  left: 50%;
  bottom: 104px;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-control .active::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}


.slider-control a {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-control a::after {
  content: "";
  width: 18px;
  height: 18px;
  background: #ffffff;
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  border-radius: 50%;
}

.slider-box {
  display: flex;
  flex-direction: column;
}

.slider-box li {
  flex-basis: 430px;
}

.slider-title {
  font-size: 55px;
  font-weight: 500;
  line-height: 1;
  color: #000000;
  max-width: 520px;
  padding-top: 78px;
  margin: 0;
  margin-bottom: 27px;
}

.slider-info {
  margin-bottom: 40px;
  max-width: 420px;
}

.slider-button {
  display: inline-block;
  font-weight: 500;
  line-height: 1.13;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
  padding: 15px 55px;
}

.slider-button:hover {
  background-color: #e74246;
}

.slider-button:active {
  background-color: #d7373b;
  opacity: 0.3;
}

.slider-page-1 {
  background: url("../img/slide1.png") no-repeat 93% 18px;
  display: block;
}

.slider-page-2 {
  background: url("../img/slide2.png") no-repeat 100% 0;
  display: none;
}

.slider-page-3 {
  background: url("../img/slide3.png") no-repeat 100% 20px;
  display: none;
}

.services-list {
  display: flex;
  padding: 80px 0;
}

.services-item {
  flex-basis: 300px;
  margin-right: 100px;
}

.services-item:last-child {
  margin-right: 60px;
}

.services-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;
  color: #000000;
  text-transform: uppercase;
  padding-top: 150px;
  margin: 21px 0 17px;
}

.services-tagline {
  padding-right: 50px;
  padding-left: 3px;
  margin-bottom: 32px;
}

.services-button {
  display: inline-block;
  font-weight: 500;
  line-height: 1.13;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 3px;
  border: none;
  padding: 16px 39px;
}

.services-item:first-child a {
  background-color: #fb565a;
}

.services-item:first-child a:hover {
  background-color: #e74246;
}

.services-item:first-child a:active {
  opacity: 0.3;
  background-color: #d7373b;
}

.services-item:nth-child(2) a {
  background-color: #00ca74;
}

.services-item:nth-child(2) a:hover {
  background-color: #00bc6c;
}

.services-item:nth-child(2) a:active {
  opacity: 0.3;
  background-color: #00aa62;
}

.services-item:last-child a {
  background-color: #efc84a;
}

.services-item:last-child a:hover {
  background-color: #eab534;
}

.services-item:last-child a:active {
  opacity: 0.3;
  background-color: #e5a722;
}

.services li:first-child {
  background: url("../img/service-item-1.png") no-repeat top;
}

.services li:nth-child(2) {
  background: url("../img/service-item-2.png") no-repeat top;
}

.services li:last-child {
  background: url("../img/service-item-3.png") no-repeat top;
}

.information {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  padding-bottom: 73px;
}

.information-about {
  flex-basis: 660px;
  padding-top: 75px;
}

.information-about p{
  padding-left: 3px;
}

.information-tagline {
  font-size: 45px;
  font-weight: 500;
  line-height: 1;
  color: #000000;
  margin: 0;
  margin-bottom: 32px;
}

.information-principles {
  margin: 0;
  margin-bottom: 40px;
}

.information-services {
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
  margin: 0;
  margin-bottom: 23px;
}

.information-services-list {
  padding-left: 3px;
}

.information-services-item {
  position: relative;
  padding-bottom: 25px;
  padding-left: 35px;
}

.information-services-item::before {
  content: "";
  background-color: #fb565a;
  width: 25px;
  height: 2px;
  position: absolute;
  top: 10px;
  left: 2px;
}

.information-services-item:nth-child(3) {
  padding-bottom: 0;
}

.information-features {
  flex-basis: 380px;
  background: url("../img/nerds-illustration.png") no-repeat 20px 40px;
}

.features-title {
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
  padding-top: 285px;
  padding-left: 40px;
  margin: 0;
  margin-bottom: 56px;
}

.features-list {
  display: flex;
  width: 340px;
  padding-left: 20px;
}

.features-list li {
  line-height: 1.13;
  width: 100px;
  margin-right: 20px;
}

.features-list li:last-child {
  margin-right: 0;
}

.features-percent {
  font-size: 45px;
  font-weight: 700;
  line-height: 0.23;
  color: #000000;
  margin-bottom: 38px;
  position: relative;
}

.features-percent sup {
  position: absolute;
  font-size: 27px;
  top: -5px;
}

.partners-list {
  display: flex;
  align-items: center;
  padding: 45px 0 38px;
  border-bottom: 2px solid #eeeeee;
}

.partners-list li:first-child {
  margin-left: 35px;
  margin-right: 95px;
}

.partners-list li:nth-child(2) {
  margin-right: 105px;
}

.partners-list li:nth-child(3) {
  margin-right: 115px;
}

.partners-list li:last-child {
  margin-right: 0;
}

.partners-list li a{
  opacity: 0.2;
}

.partners-list li a:hover {
  opacity: 1;
}

.partners-list li a:active {
  opacity: 0.1;
}

.main-footer {
  padding-top: 80px;
}

.footer-contacts {
  position: relative;
  min-height: 416px;
  background-color: #e9e5dc;
  overflow: hidden;
}

.footer-contacts img {
 position: absolute;
 left: 0;
 right: 0;
 width: 1440px;
 height: 416px;
 margin-right: auto;
 margin-left: auto;
}

.contacts-container  {
  position: absolute;
  top: 60px;
  left: calc(50% - 580px);
  min-height: 200px;
  width: 220px;
  background-color: #ffffff;
  padding: 50px 45px;
}

.contacts-address {
  color: #666666;
}

.contacts-address {
  line-height: 1.13;
  margin: 0;
  margin-bottom: 19px;
}


.contacts-phone {
  display: inline-block;
  color: #666666;
  margin-bottom: 35px;
}


.contacts-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.67;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 18px;
}

.contacts-button {
  display: inline-block;
  font-weight: 500;
  line-height: 1.13;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fb565a;
  padding: 17px 42px;
  border-radius: 3px;
}

.footer-socialmedia {
  display: flex;
  align-items: center;
}

.socialmedia-wrapper {
  display: flex;
  flex-basis: 270px;
  justify-content: space-between;
  margin-right: 130px;
  padding: 65px 0;
}

.socialmedia-wrapper a {
  width: 78px;
  height: 78px;
  background-color: #e1e1e1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.socialmedia-wrapper a:hover {
  background-color: #e74246;
}

.socialmedia-wrapper a:active {
  background-color: #d7373b;
}

.socialmedia-wrapper a:active path {
  opacity: 0.3;
}

.footer-socialmedia p:first-of-type {
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  margin: 0;
}

.footer-socialmedia p:last-of-type {
  font-size: 16px;
  line-height: 1.38;
  margin: 0;
}

.tagline-wrapper p:first-of-type {
  padding-top: 5px;
  margin-bottom: 10px;
}

.contacts p {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.13;
  color: #000000;
}

.contacts .write-us {
  font-size: 45px;
  font-weight: 500;
  line-height: 1;
  color: #000000;
}

.contacts button  {
  font-weight: 500;
  line-height: 1.13;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fb565a;
}

.contacts input:hover{
  border-color: #b4b9bb;
}

.contacts input:focus {
  border-color: #000000;
  color: #000000;
}


.catalog {
  font-size: 55px;
  font-weight: 500;
  line-height: 1;
  background-color: #eeeeee;
  text-align: center;
  margin: 0;
  padding: 80px 0 110px;
}

.catalog-container {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}

.filter {
  width: 260px;
  margin-top: 0;
}

.filter fieldset {
  border: none;
  margin-bottom: 55px;
  padding: 0;
}

.range {
  margin-top: 50px;
}

.range-scale {
  position: relative;
  padding: 39px 20px;
  margin-bottom: 15px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-scale .scale {
  height: 2px;
  background: #d7dcde;
}

.range-scale .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  background-color: #ababab;
  border: solid 8px #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range .toggle-min {
  left: 18px;
}

.range .toggle-max {
  left: 160px;
}

.price-scale {
  font-size: 0;
}

.price-scale label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}

.price-scale input {
  font-size: 16px;
  text-align: center;
  color: #283136;
  width: 60px;
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.filter-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.67;
  color: #000000;
  text-transform: uppercase;
}

.filter-item {
  font-size: 16px;
  line-height: 1.25;
  color: #283136;
  padding-top: 15px;
}

.check-button:hover,
.radio-button:hover,
.check-name:hover,
.radio-name:hover {
  color: #000000;
}

.check-button:disabled,
.radio-button:disabled,
.check-name:disabled,
.radio-name:disabled  {
  color: #ededed;
}

.filter-button {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;
  color: #000000;
  text-transform: uppercase;
  background-color: #eeeeee;
}


.sort {
  display:  flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.sort-list {
  display: flex;
  width: 360px;
}

.sort-button {
  margin-right: 25px;
}

.sort-button:nth-child(3) {
  margin-right: 48px;
}


.sort-button:nth-child(4) {
  margin-right: 17px;
  position: relative;
}

.sort-button:nth-child(4) a {
  display: block;
  position: absolute;
  top: 7px;
  background: url("../img/icon-down-dir.svg") no-repeat;
  width: 11px;
  height: 10px;
}

.sort-button:last-child {
  margin-right: 0;
  position: relative;
}

.sort-button:last-child a{
  display: block;
  position: absolute;
  top: 7px;
  left: 11px;
  background: url("../img/icon-up-dir.svg") no-repeat center;
  width: 11px;
  height: 10px;
}


.sort p {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.67;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
}

.sort-button a {
  font-size: 14px;
  line-height: 1.29;
  color: #000000;
  opacity: 0.3;
  text-transform: uppercase;
}

.sort-button a:hover {
  opacity: 0.6;
}

.sort-button a:active {
  opacity: 1;
}

.sort-button a.current {
  opacity: 1;
}

.catalog-list-container {
 display: flex;
 flex-wrap: wrap;
 position: relative;
}

.catalog-item {
  font-size: 16px;
  line-height: 1.13;
  color: #666666;
  width: 360px;
  margin-right: 40px;
  margin-bottom: 35px;
  padding-top: 40px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-list-wrapper {
  display: flex;
  width: 760px;
  flex-direction: column;
}

.item-title a{
  font-size: 18px;
  font-weight: 700;
  line-height: 1.67;
  color: #000000;
  text-transform: uppercase;
}

.catalog-price {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #fb565a;
  padding: 20px 60px;
  border-radius: 3px;
  display: inline-block;
}

.catalog-price:hover {
  background-color: #e74246;
}

.catalog-price:active {
  background-color: #d7373b;
}

.pages-list {
  display: flex;
  align-items: center;
  margin: 25px 0;
}


.pages-button {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;
  color: #000000;
  text-transform: uppercase;
  background-color: #eeeeee;
  margin-right: 10px;
  padding: 16px 20px;
  cursor: pointer;
}

.pages-button:last-child {
  padding:  16px 80px;
  margin-right: 0;
}

.filter-button button:hover,
.pages-button:hover {
  background-color: #dfdfdf;
}

.filter-button button:active,
.pages-button:active {
  opacity: 0.3;
  background-color: #d5d5d5;
  box-shadow: inset 0 3px rgba(0, 1, 1, .1);
}

.pages-button.current {
  background-color: #ffffff;
  box-shadow: inset 3px 3px #eeeeee, inset -3px -3px #eeeeee;
}

.pages a {
  color: #000000;
}
